<h1>The Greatest Pirate</h1>
<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Grade: <%= @pirate.grade %></h4>
</div><br>

<h1>Ships</h1>
<% @ships.each do |ship| %>
  <div class="ship">
    <p>Name: <%= @ship.name %></p><br>
    <p>Type: <%= @ship.type %></p><br>
    <p>Booty: <%= @ship.booty %></p><br>
  </div><br>
<% end %>
